@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

.slide-left {
  animation: slide-in-left 0.4s ease-out;
}

.slide-right {
  animation: slide-in-right 0.4s ease-out;
}
